body {
  color: white;
  background-color: #333;
  background-image: url(https://68.media.tumblr.com/96fd91dd69d8cb64c984791c771089b1/tumblr_nvt3fdAOlG1qlizkxo1_500.jpg);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
  margin: 5em 25%;
}

h1 {
  text-align: center;
}

img {
  text-align: center;
}